/*.emoji-img{*/
    /*position: absolute;*/
    /*left: 384px;*/
    /*top: 5px;*/
/*}*/

#gameCanvas{
    background-color: darkgrey;
    height: 630px;
    width: 896px;
    padding: 0;
    /*max-height: 2000px;*/
}

/*#mydiv{*/
    /*background-color: #4cae4c;*/
    /*!*left: 500px;*!*/
    /*!*top: 100px;*!*/
    /*height: 128px;*/
    /*width: 128px;*/
/*}*/